<br>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
    <mat-cell *matCellDef="let project"> {{project.position}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
    <mat-cell *matCellDef="let project"> {{project.firstName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let project"> {{project.lastName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
    <mat-cell *matCellDef="let project"> {{project.email}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let project; columns: displayedColumns;"></mat-row>
</mat-table>

  <mat-paginator [pageSizeOptions]="[3, 5, 8, 15]" showFirstLastButtons></mat-paginator>
</div>
