<br>
<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

<mat-table #table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
    <mat-cell *matCellDef="let project"> {{project.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
    <mat-cell *matCellDef="let project"> {{project.firstName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let project"> {{project.lastName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
    <mat-cell *matCellDef="let project"> {{project.email}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
    <mat-cell *matCellDef="let project" (click)="$event.stopPropagation()">
        <button mat-button mat-icon-button type="button" (click)="onEdit(project.id)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-button mat-icon-button (click)="onDelete(project.id)" type="button">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-cell>
</ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let project; columns: displayedColumns;"></mat-row>
</mat-table>

  <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

<!-- <mat-paginator [length]="100" [pageSizeOptions]="[3, 5, 8, 15]" showFirstLastButtons></mat-paginator> -->

