h2 {
    color: rgb(153, 88, 51);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  td {
    text-align: left
  }
  div {
    text-align: left
  }
h4 {
    color: rgb(73, 51, 153);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
