<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    
  <br>

  <!-- 
  <nav>
    <a routerLink="create" routerLinkActive="active">Add</a> | 
    <a routerLink="edit" routerLinkActive="active">Edit</a> | 
    <a routerLink="index" routerLinkActive="active">Search Index</a> | 
    <a routerLink="pipe-demo" routerLinkActive="active">PIPE Examples</a> | 
    <a routerLink="directive-demo" routerLinkActive="active">Directive Examples</a> | 
    <a routerLink="data-binding-demo" routerLinkActive="active">Data Binding Examples</a> | 
    <a routerLink="event-binding-demo" routerLinkActive="active">Event Binding Examples</a> | 
    <a routerLink="ng-template-demo" routerLinkActive="active">NG-Template Examples</a> | 
    <a routerLink="mat-datatable-demo" routerLinkActive="active">Mat-DataTable Examples</a>
  </nav> -->
	<ul>
      <li><a href="#">Angular Examples</a>
        <ul>
            <li><a routerLink="pipe-demo" routerLinkActive="active">PIPE Examples</a></li> 
            <li><a routerLink="directive-demo" routerLinkActive="active">Directive Examples</a></li>  
            <li><a routerLink="data-binding-demo" routerLinkActive="active">Data Binding Examples</a> </li> 
            <li><a routerLink="event-binding-demo" routerLinkActive="active">Event Binding Examples</a> </li> 
            <li><a routerLink="ng-template-demo" routerLinkActive="active">NG-Template Examples</a> </li>
        </ul>  
      </li>

      <li><a routerLink="create" routerLinkActive="active">Create</a> </li>
      <!--<li><a routerLink="edit" routerLinkActive="active">Edit</a> </li>-->
      <li><a routerLink="index" routerLinkActive="active">Search</a> </li>

      <!-- <li><a href="#">CRUD Examples</a>
        <ul>
          
        </ul>  
      </li>
    -->
	  
    <li><a href="#">Material Examples</a>
      <ul>
        <li><a routerLink="mat-datatable-demo" routerLinkActive="active">Mat-DataTable Examples</a></li>
        <li><a routerLink="mat-date-picker-demo" routerLinkActive="active">Mat-DatePicker Examples</a></li>
      </ul>  
    </li>
    <li><a routerLink="modal-demo" routerLinkActive="active">Modal Example</a> </li>
	</ul>

  <router-outlet></router-outlet>
</div>



