h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2 {
  color: rgb(153, 88, 51);
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
td {
  text-align: left
}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}
*/
li a:hover:not(.active) {
    background-color: rgb(83, 19, 19);
}

.active {
    background-color: rgb(160, 97, 97); 
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1bc2a2;
  }
  
  ul li {
    display: block;
    position: relative;
    float: left;
    background: #1bc2a2;
    text-align: left;
  }

  li ul { display: none; }

  ul li a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }
  
  ul li a:hover { background: #2c3e50; }

  li:hover > ul {
    display: block;
    position: absolute;
  }
  
  li:hover li { float: none; }
  
  li:hover a { background: #1bc2a2; }
  
  li:hover li a:hover { background: #2c3e50; }
  
  .main-navigation li ul li { border-top: 0; }

  ul ul ul {
    left: 100%;
    top: 0;
  }

  ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }


